.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
  gap: 10px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.gridItem {
  padding: 20px;
  text-align: center;
  color: #792f6a;
  text-align: center;
  font-size: 28px;
}

.image {
  width: 96px;
  height: 96px;
}

@media only screen and (max-width: 755px) {
  .gridItem {
    font-size: 1rem;
    padding: 0;
  }
  .image {
    width: 4rem;
    height: 4rem;
  }
}

@media only screen and (max-width: 470px) {
  .gridItem {
    font-size: 0.8rem;
    padding: 0;
  }
  .image {
    width: 3rem;
    height: 3rem;
    padding: 0;
  }
}
