/* LandingSwipe.module.css */
.container {
  background-image: url("/back-slide.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slide {
  background-color: white;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 10px;
}

.nameWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #fbd98d;
  -webkit-text-stroke: 2px #c1564c;
  font-size: 40px;
  height: 50px;
}

.mySwiper {
  margin-top: 60px;
  width: 400px;
  height: 500px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.image {
  object-fit: cover;
  padding: 40px;
  height: 400px;
}

.petCard {
  display: flex;
  flex-direction: column;
}

.btnWrapper {
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  width: 340px;
}

.heading {
  font-family: "Acme", sans-serif;
  color: #792f6c;
  font-size: 38px;
  font-weight: 400;
  margin-top: 50px;
}

.btn {
  height: 50px;
  width: 300px;
  border-radius: 10px;
}
