.card_container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1rem;
  width: 14rem;
  border-radius: 1rem;
  background-color: #fefefe;
  box-shadow: rgba(61, 61, 61, 0.3) 0px 5px 15px;
}

.imgContainer {
  height: 150px;
  overflow: hidden;
  width: 100%;
}

.imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.info {
  padding: 15px;
}

.title {
  color: #c1564c;
  text-align: center;
  margin-bottom: 15px;
  font-weight: 900;
  font-size: 16px;
}

.bttns {
  color: #626262;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.bttns button {
  font-size: 1.2rem;

  border: none;
  background: none;
  color: inherit;
  border: none;
  padding: 5px;
  cursor: pointer;
  outline: inherit;
}

.bttns span {
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 2px;
  display: inline;
  font-size: 1rem;
}

.bttns button:hover {
  color: #c1564c;
}

@media only screen and (max-width: 500px) {
  .title {
    font-size: 18px;
  }
}
