.main_petId_container {
  display: flex;
  justify-content: center;
}

.title_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem 0 5rem 0;
  color: #792f6c;
}

.title {
  transform: translate3d(0px, 0em, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(2deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  opacity: 1;
  font-size: 6rem;
  font-size: 3rem;
}

.second_title {
  transform: translate3d(0px, 0em, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(-2deg) skew(0deg, 0deg);
  opacity: 1;
  transform-style: preserve-3d;
  font-size: 3rem;
}

.underline_wavey {
  background-image: url(https://uploads-ssl.webflow.com/5f4f91ff23802a48574383ea/5f4f91ff23802a7b83438469_Adoptable_Wiggle%20Style%201_pink.svg);
  background-position: 50% 100%;
  background-size: 300px;
  background-repeat: repeat-x;
}

.spark_right {
  display: inline-block;
  margin-right: -0.35em;
  margin-bottom: 0em;
  padding-right: 0.35em;
  background-image: url(https://uploads-ssl.webflow.com/5f4f91ff23802a48574383ea/5f4f91ff23802a688b438493_Adoptable_Spark%20Right_orange.svg);
  background-position: 100% 0%;
  background-size: 0.7em;
  background-repeat: no-repeat;
  font-weight: 400;
}

.third_title {
  transform: translate3d(0px, 0em, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(1deg) skew(0deg, 0deg);
  opacity: 1;
  transform-style: preserve-3d;
  font-size: 3rem;
  text-align: center;
  max-width: 100%;
  margin-bottom: 50px;
}

.owner_pic {
  width: 20rem;
  height: 20rem;
  border-radius: 10px;
}

.description_box {
  display: flex;
  width: 100%;
  width: 1600px;
  border-radius: 10px;
  background-color: #faf6f2;
  flex-direction: row-reverse;
  min-height: 300px;
}

.description_title {
  padding-top: 30px;
  padding-left: 30px;
  font-size: 1.5rem;
}

.owner_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin-bottom: 2rem;
}

.imagesContainer {
  display: flex;
  gap: 20px;
}

.image {
  width: 400px;
  height: 400px;
  border-radius: 10px;
  object-fit: cover;
}

.statsContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: #792f6c;
  border-radius: 10px;
  font-size: 0.8rem;
  gap: 5px;
  height: 330px;
  width: 400px;
  margin-right: 100px;
  border: 2px solid #dedede;
  font-weight: 100;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  width: 700px;
  margin-top: 40px;
  margin-right: 120px;
  line-height: 1.6;
  color: #792f6c;
}

.statName {
  padding-top: 10px;
  padding-left: 30px;
  font-size: 20px;
  font-weight: 800;
}

.statSpan {
  font-size: 16px;
  font-weight: 400;
}

.OwnerDetails {
  font-size: 1.5rem;
  color: #c1564c;
}
