.container {
  width: 25rem;
  border-radius: 10px;
  margin-top: 2rem;
  display: flex;
  height: 480px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  background-color: #dedede;
}

.title {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #792f6c;
  font-family: "Acme", sans-serif;
}

.categories {
  font-family: "Acme", sans-serif;
  font-size: 1.3rem;
}

.age {
  display: flex;
  margin: 0.8rem;
  column-gap: 0.5rem;
}

.age_btn {
  display: flex;
  flex-direction: row-reverse;
  gap: 3px;
  padding: 0.4em;
  justify-content: center;
  align-items: center;
  outline: none;
  border-radius: 20px;
  box-shadow: 2px 4px 8px rgba(70, 70, 70, 0.178);
  margin-bottom: 0.5em;
  background-color: white;
}

.radio_label {
  font-size: 1rem;
}

.size {
  display: flex;
  margin: 0.8rem;
  column-gap: 0.5rem;
}

.size_btn {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  outline: none;
  border-radius: 20px;
  transition: background-color 0.2s, border-color 0.2s;
  flex-direction: row-reverse;
  gap: 4px;
  padding: 0.4em;
  margin-bottom: 0.5em;
  box-shadow: 2px 4px 8px rgba(70, 70, 70, 0.178);
  background-color: white;
}

.gender {
  display: flex;
  margin: 0.8rem;
  column-gap: 0.5rem;
}

.gender_btn {
  display: flex;
  flex-direction: row-reverse;
  gap: 4px;
  padding: 0.4em;
  justify-content: center;
  align-items: center;
  outline: none;
  border-radius: 20px;
  box-shadow: 2px 4px 8px rgba(70, 70, 70, 0.178);
  padding: 0.4em;
  margin-bottom: 0.5em;
  background-color: white;
}

.radio_btn {
  width: 8px;
  height: 8px;
  accent-color: #792f6c;
}
