.container {
  display: flex;
  flex-direction: column;
  max-width: 30%;
  border: 1px solid black;
  border-radius: 5px;
  .filter_btns {
    margin: 1rem auto;
  }
  .match_message {
    text-align: center;
  }
  .more_info {
    text-align: center;
  }
  .main_btns {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: 0 auto;
  }
}
